.movie-view {
  position: relative;
  width: 500px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--gray-background);
  margin: 0 auto;
}
.movie-view::before {
  left: 0;
}

.movie-view::after {
  right: 0;
}

.video-player {
  height: 100%;
  width: 100%;
}

.trailer-image {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.video-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: var(--background-color);
  font-size: 13px;
  padding: 30px 10px;
  height: 100%;
  gap: 40px;
  & h2 {
    font-size: 14px;
    font-weight: 600;
  }
  & .description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-left: 125px;
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.series::before {
  content: "Series";
}
.title img {
  width: 40px;
}

.music::before {
  content: "Music";
}
.modal-image {
  position: absolute;
  width: 120px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 45px);
  left: 5px;
}

.sports::before {
  content: "Sports";
}
.modal-image img {
  width: 100px;
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-navigation {
  border-radius: 25px;
  border: 1px solid var(--YellowPrimary);
  background: var(--background-color);
  padding: 10px 20px;
  color: var(--YellowPrimary);
  font-size: 18px;
  font-weight: 700;
}

.btn-watch {
  background: var(--YellowPrimary);
  color: var(--background-color);
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 800;
  padding: 10px 40px;
}

.close-btn {
  position: absolute;
  right: -23px;
  top: -23px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.close-btn:hover {
  transform: scale(1.1);
}

.modal-body {
  padding: 0;
}
.movie-view {
  position: relative;
  width: 500px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--gray-background);
  margin: 0 auto;
}
.movie-view::before {
  left: 0;
}

.movie-view::after {
  right: 0;
}

.video-player {
  height: 100%;
  width: 100%;
}

.trailer-image {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.video-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: var(--background-color);
  font-size: 13px;
  padding: 30px 10px;
  height: 100%;
  gap: 40px;
  & h2 {
    font-size: 14px;
    font-weight: 600;
  }
  & .description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-left: 125px;
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.series::before {
  content: "Series";
}
.title img {
  width: 40px;
}

.music::before {
  content: "Music";
}
.modal-image {
  position: absolute;
  width: 120px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 45px);
  left: 5px;
}

.sports::before {
  content: "Sports";
}
.modal-image img {
  width: 100px;
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-navigation {
  border-radius: 25px;
  border: 1px solid var(--YellowPrimary);
  background: var(--background-color);
  padding: 10px 20px;
  color: var(--YellowPrimary);
  font-size: 18px;
  font-weight: 700;
}

.btn-watch {
  background: var(--YellowPrimary);
  color: var(--background-color);
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 800;
  padding: 10px 40px;
}

.close-btn {
  position: absolute;
  right: -23px;
  top: -23px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.close-btn:hover {
  transform: scale(1.1);
}

.modal-body {
  padding: 0;
}
