:root {
  --blue-primary: #00a7e5;
  --background-color: #0d0d0d;
  --gray-background: #181818;
  --YellowPrimary: #ffcd1d;
  --PurplePrimary: #943b99;
  --GreenPrimary: #009d00;
  --white: #f4f4f4;
  --MdGray: #b6b6b6;
}

/* General */

body,
html {
  background-color: var(--background-color);
  color: var(--white);
  height: 100%;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

main {
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h2 {
  font-size: 24px;
  font-weight: 500;

  @media (max-width: 991px) {
    font-size: 18px;
  }
}

.nav-link {
  color: var(--white);
}

.ml-auto {
  margin-left: auto;
}

.btn-primary {
  font-size: 18px;
  background: var(--YellowPrimary);
  padding: 12px 40px;
  text-transform: uppercase;
  transition: 0.2s;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  width: fit-content;
  color: var(--background-color) !important;
  margin: 0;

  &:hover {
    transform: scale(1.1);
    background-color: var(--white);
  }

  &.xs {
    padding: 4px 15px;
    font-size: 15px;
  }

  &.xl {
    background: rgb(150, 117, 0);
    background: -moz-linear-gradient(0deg, rgba(150, 117, 0, 1) 0%, rgba(255, 204, 22, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(150, 117, 0, 1) 0%, rgba(255, 204, 22, 1) 100%);
    background: linear-gradient(0deg, rgba(150, 117, 0, 1) 0%, rgba(255, 204, 22, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#967500",endColorstr="#ffcc16",GradientType=1);
    border: 1.5px solid var(--YellowPrimary);
    font-size: 15px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    line-height: 25px;

    &:hover {
      border-color: var(--white);
      background: var(--white);
    }
  }
}

.btn-secondary {
  border: 1.5px solid var(--YellowPrimary) !important;
  padding: 10px 40px 11px;
  color: var(--YellowPrimary);
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  background: transparent !important;
  transition: 0.2s ease-out;
  border-radius: 25px;

  @media (max-width: 991px) {
    padding: 10px 24px 11px;
  }

  &:hover {
    transform: scale(1.1);
    border-color: var(--white) !important;
    color: var(--white) !important;
  }

  &.btn-icon {
    padding: 10px;
    min-height: 50px;
    box-sizing: border-box;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 991px) {
      min-height: 42px;
      min-width: 42px
    }

    &:hover {
      filter: brightness(5) grayscale(1);
    }
  }
}

a {
  color: var(--YellowPrimary);
  font-weight: 500;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--white);
  }

  &.xl {
    font-size: 18px;
  }
}

/* Header */

header {
  padding: 20px 30px;
  position: relative;
  z-index: 3;
  position: relative;

  @media (max-width: 991px) {
    padding: 0 20px 60px;
    display: block;
    height: 140px;
  }

  .navbar {
    padding: 0;

    .subscription-banner {
      border: 1px solid var(--white);
      border-radius: 35px;
      padding: 10px;
      position: absolute;
      left: 0;
      top: 0;

      @media (max-width: 991px) {
        position: relative;
        top: 60px;
        border-radius: 10px;
        width: 280px;
        left: calc(50% - 140px);
      }
    }

    .subscription-banner span {
      font-size: 14px;
      font-weight: 700;
      padding: 0 15px;

      @media (max-width: 991px) {
        margin-bottom: 5px;
        display: block;
      }
    }

    .navbar-brand {
      @media (max-width: 991px) {
        max-width: 50%;
        margin: 0 !important;
        display: block;
        position: absolute;
        top: 15px;
      }
    }

    .dropdown {
      @media (max-width: 991px) {
        width: fit-content;
        position: absolute;
        top: 10px;
        right: 80px;
      }

      .btn {
        padding: 0;
        background: transparent;
        border: none;

        &::after {
          display: none;
        }

        &:hover {
          filter: brightness(5) grayscale(1);
        }
      }

      .dropdown-menu {
        border: 2px solid #77777763;
        background: rgba(39, 39, 39, 0.75);
        box-shadow: inset 0 0 50px #000000;
        backdrop-filter: blur(10px);

        &.dropdown-menu-right {
          left: inherit;
          right: 0;

          @media (max-width: 991px) {
            width: calc(100vw - 40px);
            right: -80px;
            position: absolute;
            top: 48px;
          }

          .user-area {
            min-width: 240px;
            gap: 15px;
            padding: 15px 20px;

            @media (max-width: 991px) {
              padding-bottom: 30px;
            }

            div {
              span {
                color: var(--MdGray);
                font-size: 22px;
                font-weight: 600;
              }

              a {
                font-size: 14px;
              }
            }
          }

          hr {
            border-color: #77777763;

            @media (max-width: 991px) {
              margin-top: 20px;
            }
          }
        }
      }
    }



    #language-select {
      border: none;
      background: transparent;
      color: var(--YellowPrimary) !important;
      font-weight: 700;
      margin-left: 20px;
      background: #0d0d0dd9;

      @media (max-width: 991px) {
        position: absolute;
        top: 20px;
        right: 0;
      }
    }
  }
}

header .dropdown-menu li a, header .dropdown-menu li button {
  padding: 8px 20px 8px 95px;
  color: var(--YellowPrimary);
  font-weight: 600;
  transition: 0.2s ease-out;
  
  @media (max-width: 991px) {
    padding: 8px 20px;
    text-align: center;
  }
  
  &:hover {
    color: var(--white);
    img {
      transition: 0.2s ease-out;
      transform: scale(1.15);
      filter: brightness(10);
    }
  }
  
  &.xs {
    padding: 4px 15px !important;
    margin: auto;
    display: block;
  }
}


/* Hero */

.hero {
  background-image: radial-gradient(circle, #010916, #07161b, #111f1f, #1e2722, #2c2e27);
  position: relative;
  z-index: 0;
  margin-top: -90px;

  @media (max-width: 991px) {
    margin-top: 0;
  }
}

.main-title {
  padding-bottom: 10px;
  margin-top: -70px;
  position: relative;
  z-index: 1;

  > h1 {
    font-weight: 700;
    font-size: 30px;

    @media (max-width: 991px) {
      font-size: 24px;
    }

    & span {
      color: var(--YellowPrimary);
    }
  }

  @media (max-width: 991px) {
    margin-top: 0;
  }
}

.icons {
  gap: 30px;

  @media (max-width: 991px) {
    position: fixed;
    gap: 0;
    bottom: 0;
    z-index: 2;
    margin: 0 !important;
    width: 100%;
    left: 0;
    background: var(--background-color);
  }
}

.icons > a {
  transition: 0.2s ease-out;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  img {
    transition: 0.2s ease-out;
  }

  p {
    color: var(--YellowPrimary);
    font-weight: 600;
    margin-top: 5px;
  }

}

.icons > a:hover {
  transform: scale(1.2);

  img {
    filter: contrast(1.25) brightness(2) grayscale(1);
  }
  p {
    color: var(--white);
  }
}

.hero-slider {
  position: relative;

  &::before {
    content: "";
    background: url(../images/group-shadow.svg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 101%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  background-position: center;
  background-size: contain;

  @media (max-width: 991px) {
    min-width: 180px;
  }
}

.videos-slider {
  .swiper-slide {
    max-width: 240px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: fit-content;
}

.swiper.videos-slider {
  height: 400px;
}

/* Content */

.card {
  height: 100%;
  border: none;
  border-radius: 10px;
  background: var(--background-color);
  & .card-image {
    background-image: url(../images/card1.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20vh;
    border-radius: 10px 10px 0 0;
  }

  & .card-description {
    background: var(--background-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    gap: 5px;
    box-sizing: border-box;
    & img {
      width: 65px;
    }
    & h2 {
      font-size: 16px;
      font-weight: 600;
    }

    & p {
      font-size: 14px;
    }
  }
}

section {
  margin: 120px 0 180px;

  @media (max-width: 991px) {
    margin: 80px 0 120px;
  }
}

.container {
  width: 80%;

  @media (max-width: 991px) {
    width: calc(100% - 40px);
    padding: 0;
  }

  &.wide-right {
    margin-right: 0;
    width: 90%;
    max-width: none;
  }
}

.cat {
  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    border-left: 2px solid #4b4b4b;
    background: linear-gradient(99deg, rgba(141, 139, 114, 0.15) 0%, rgba(141, 139, 114, 0) 40%);
    color: var(--white);
    left: -140px;
    top: 40px;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .cat::before {
    height: calc(100% + 80px);
    left: -20px;
    top: -60px;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--YellowPrimary);
}

.cat#movies::before {
  content: "Movies";
}

.cat#series::before {
  content: "Series";
}

.cat#music::before {
  content: "Music";
}

.cat#sports::before {
  content: "Sports";
}

/* Movie View  */

.movie-view {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 0;

  @media (max-width: 991px) {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .video-player {
    height: 100%;
    width: 100%;
  }

  .video-description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: var(--background-color);
    font-size: 13px;
    padding: 30px 20px;
    height: 100%;
    gap: 20px;
    border-radius: 0 0 20px 20px;
    width: 100%;

    & h2 {
      font-size: 14px;
      font-weight: 600;
    }

    & .description {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 125px;

      @media (max-width: 991px) {
        padding-left: 0;
      }
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 20px;
      text-align: left;
      padding-left: 130px;

      @media (max-width: 991px) {
        padding-left: 0;
      }
    }
    
    .modal-image {
      position: absolute;
      width: 120px;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -45px;
      left: 10px;
      z-index: 1;

      @media (max-width: 991px) {
        width: 60px;
        height: 70px;
        top: -60px;
      }
    }
    
    .bck-thumbnail {
      position: absolute;
      width: 120px;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -35px;
      left: 0;
      z-index: 0;
      background-color: var(--background-color);

      @media (max-width: 991px) {
        width: 60px;
        height: 70px;
        top: -50px;
      }
    }
  
    .trailer-image {
      height: 100%;
      width: 100%;
      border-radius: 20px 20px 0 0;
    }
    
    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    
    .btn-watch {
      background: var(--YellowPrimary);
      color: var(--background-color);
      border: none;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 800;
      padding: 10px 40px;
    }

    .social-actions {
      @media (max-width: 991px) {
        gap: .5rem !important;
        flex-direction: column;
      }
    }
  }
  
}


.close-btn {
  position: absolute;
  right: -23px;
  top: -23px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.close-btn:hover {
  transform: scale(1.1);
}






/* Profile  */
.profile {
  padding-bottom: 120px;
}

.title-header {
  position: relative;
  background: var(--gray-background);
  padding: 40px 40px 70px 40px;
  margin-bottom: 40px;
}
.title-header h1 {
  margin: auto;
  font-size: 20px;
  font-weight: 600;
}

.title-header.manage {
  padding: 40px;
}

.back-btn {
  position: relative;
  color: var(--YellowPrimary);
  text-decoration: none;
  display: flex;
}
.back-btn::before {
  content: url(../images/back-icon.svg);
  position: absolute;
  left: -24px;
  width: 24px;
  height: 24px;
  top: 1px;
}


.profile-btn {
  position: relative;
  width: 100%;
  height: 100%;
  transition: .2s;
  border: none;
  outline: none;

  &::after {
    content: url(../images/changeImg.svg);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 120px;
  }

  &:hover {
    transform: scale(1.1);
    .profile-img {
      border: 5px solid var(--white);
    }
    &::after {
      filter: brightness(2) grayscale(1);
    }
  }

  .profile-img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--YellowPrimary);
    right: 50%;
    transform: translate(50%, 0%);
  }
}

.changeImage {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 45%;
  bottom: -45%;
}
.info {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px;
  max-width: 450px;
  margin: 0 auto;
  & h1 {
    font-size: 22px;
    font-weight: 700;
  }

  & p {
    font-size: 14px;
  }

  & .info-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    & a {
      color: var(--YellowPrimary);
      text-decoration: none;
      position: relative;
      transition: .2s ease-out;

      &::after {
        content: url(../images/arrow-right.svg);
        position: absolute;
        right: 0;
      }

      &:hover {
        color: var(--white);
        filter: brightness(5) grayscale(1);
      }
    }

    & img {
      margin-right: 10px;
    }
  }
  & textarea,
  & input,
  & select {
    border-radius: 10px;
    height: 40px;
    border: none;
    box-sizing: border-box;
    background: #353535;
    color: var(--white);
    width: 100%;
    padding-left: 10px;
    outline: none;

    &::placeholder {
      color: #ccc;
    }
  }

  & h3,
  & label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  & textarea {
    height: 96px;
  }

  & button {
    background: var(--YellowPrimary);
    color: var(--background-color);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 40px;
    text-transform: uppercase;
    width: 130px;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.active-subs {
  text-align: left;
  max-width: 700px;
  margin: 40px auto;
  & img {
    max-width: 150px;
    width: 100%;
    height: 24px;
  }
  & .link {
    text-align: right;
  }

  & h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }
  & p {
    font-size: 14px;
  }

  & a.manage {
    position: relative;
    &::after {
      content: url(../images/arrow-right.svg);
      position: absolute;
      right: -24px;
      width: 24px;
      height: 24px;
      top: 1px;
    }
  }
  & .google-icon {
    width: 40px;
    margin-right: 10px;
  }
}

/* modal */

.modal {
  background: #000000c5;
  backdrop-filter: blur(10px);

  .modal-dialog {
    .modal-content {
      background-color: rgba(56, 56, 56, 0.7);
      box-shadow: inset 0 0 50px 30px black;
      padding: 50px 30px 20px;
      border-radius: 22px;
      border: 2px solid #222;
      position: relative;

      .close-modal {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        background: var(--background-color);
        color: var(--YellowPrimary);
        position: absolute;
        top: 6px;
        right: 6px;
        border: 2px solid #222;
        font-size: 20px;
        line-height: 20px;
        font-weight: 900;

        transition: 0.2s ease-out;

        &:hover {
          transform: scale(1.15);
          color: var(--white);
        }
      }

      .modal-header {
        border-bottom: none;
        padding: 20px 0;

        h4 {
          font-size: 30px;
          font-weight: 800;
        }
      }

      .modal-body {
        padding: 20px 0;

        .condition {
          color: var(--MdGray);
          position: relative;
          &::before {
            content: "";
            border-top: 2px solid #353535;
            display: block;
            position: absolute;
            width: calc(50% - 15px);
            left: 0;
            top: 10px;
          }

          &::after {
            content: "";
            border-top: 2px solid #353535;
            display: block;
            position: absolute;
            width: calc(50% - 15px);
            right: 0;
            top: 10px;
          }
        }
      }

      .modal-footer {
        padding: 0;
        border: none;

        .btn-secondary {
          padding: 20px;
          width: 100%;
          font-size: 15px;
        }
      }
    }
  }

  &#loginModal {
    .btn-secondary {
      border-radius: 10px;
      position: relative;
      &::after {
        content: "🡲";
        display: block;
        position: absolute;
        right: 20px;
        top: 18px;
      }
      &:first-of-type {
        background: url(../images/mobile-phone-icon.png) 10px no-repeat !important;
        display: block;
      }

      &:last-of-type {
        background: url(../images/email-icon.png) 10px no-repeat !important;
        display: block;
      }

      &:hover {
        filter: grayscale(1) brightness(5);
      }
    }
  }

  &#loginModal,
  &#registerModal,
  &#mobileModal {
    .btn-secondary {
      border-radius: 10px;
      position: relative;
      &::after {
        content: "🡲";
        display: block;
        position: absolute;
        right: 20px;
        top: 18px;
      }
      &.mobile {
        background: url(../images/mobile-phone-icon.png) 10px no-repeat !important;
        display: block;
      }

      &.email {
        background: url(../images/email-icon.png) 10px no-repeat !important;
        display: block;
      }

      &.username {
        background: url(../images/userrname-icon.png) 10px no-repeat !important;
        display: block;
      }

      &:hover {
        filter: grayscale(1) brightness(5);
      }
    }
  }

  &#subscriptionModal {
    .btn-primary {
      &.xl {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 700;
        line-height: normal;
        img {
          padding: 10px 15px 15px 0;
          border-right: 1px solid var(--background-color);
        }
      }
    }
  }

  &#subscriptionModal .btn-primary.xl img {
    padding: 10px 15px 15px 0;
    border-right: 1px solid var(--background-color);
  }

  &.modal-full {
    --bs-modal-width: 100%;
  
    .modal-dialog {
      margin: 0;

      .modal-content {

        .modal-body {
          > img {width: 100%;}
        }
      }
    }
  }
}

/* Forms */

textarea,
& input {
  border-radius: 10px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  background: #656565;
  color: var(--white);
  width: 100%;
  padding-left: 10px;
  outline: none;
  min-height: 50px;
}

textarea,
& input {
  &::placeholder {
    color: #ccc;
  }
}

/* Pages */

.title-bar {
  height: 150px;
  background: #151515;
  position: relative;
}

.title-bar h1 {
  color: var(--white);
  margin: auto;
  font-size: 20px;
  font-weight: 600;
}

.title-bar > .breadcrumb {
  margin: 15px 0 0 30px;
  position: absolute;
  left: 0;
  top: 0;

  @media (max-width: 991px) {
    margin: 15px 0 0 20px;
  }
}

.text-content {
  text-align: left; 
}

.text-content h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 40px 0 10px;
  text-align: left;
}

.text-content p {
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px;
}

.text-content ul li {
  text-align: left;
  margin-bottom: 15px;
}

.text-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0 5px;
  text-align: left;
}



/* Footer */

footer {
  margin: 0 auto 80px;
  padding: 30px 0 0 0;

  .d-flex {
    gap: 25px;
  }

  @media (max-width: 991px) {
    margin-bottom: 170px;
  }
}

footer .d-flex ul {
  margin: 0;
  list-style: none;
  gap: 10px;
  padding: 0;
}
