:root {
  --blue-primary: #00a7e5;
  --background-color: #000;
  --gray-background: #181818;
  --YellowPrimary: #ffcd1d;
  --PurplePrimary: #943b99;
  --GreenPrimary: #009d00;
  --white: #f4f4f4;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body,
html {
  background-color: var(--background-color);
  color: #fff;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
/* 
header {
  padding-bottom: 90px;
} */

main {
  padding: 100px 0 100px 0;
}

.nav-link {
  color: #fff;
}

.swiper {
  width: 100%;
  height: 60vh;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.main-title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  & span {
    color: var(--YellowPrimary);
  }
}

.hero {
  background-image: radial-gradient(circle, #010916, #07161b, #111f1f, #1e2722, #2c2e27);
  z-index: 99;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px;

  & img {
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translate(50%, -50%);
    width: 100px;
    height: 100px;
  }

  & p {
    color: var(--YellowPrimary);
  }
}

.stream-icon,
.learn-icon,
.play-icon,
.fitness-icon {
  position: relative;
  border-radius: 15px;
  padding: 25px;
  height: 100px;
  width: 100px;

  & p {
    position: absolute;
    bottom: -55px;
    left: 50%;
    font-weight: 700;
    font-size: 24px;
    transform: translate(-50%, 0);
  }
}

.swiper.videos-slider {
  height: 400px;
}

.card {
  height: 100%;
  border: none;
  border-radius: 10px;
  background: var(--background-color);
  & .card-image {
    background-image: url(../images/card1.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20vh;
    border-radius: 10px 10px 0 0;
  }

  & .card-description {
    background: var(--background-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    gap: 5px;
    box-sizing: border-box;
    & img {
      width: 65px;
    }
    & h2 {
      font-size: 16px;
      font-weight: 600;
    }

    & p {
      font-size: 14px;
    }

    & .btn {
      background-color: var(--YellowPrimary);
      color: var(--background-color);
      font-weight: 600;
      letter-spacing: 1.4px;
      width: 30%;
      margin-left: auto;
    }
  }
}

section {
  margin-bottom: 100px;
}

.movies,
.series,
.sports,
.music {
  position: relative;
}

.movies::before {
  content: "Movies";
  width: 100%;
  height: 120%;
  position: absolute;
  border-radius: 20px 0px 0px 20px;
  border-left: 2px solid #4b4b4b;
  background: linear-gradient(99deg, rgba(141, 139, 114, 0.2) 0%, rgba(141, 139, 114, 0) 42.46%);
  color: var(--white);
  left: -140px;
  top: -40px;
  text-align: left;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 25px;
  letter-spacing: 2px;
}

.series::before {
  content: "Series";
  width: 100%;
  height: 120%;
  position: absolute;
  border-radius: 20px 0px 0px 20px;
  border-left: 2px solid #4b4b4b;
  background: linear-gradient(99deg, rgba(141, 139, 114, 0.2) 0%, rgba(141, 139, 114, 0) 42.46%);
  color: var(--white);
  left: -140px;
  top: -40px;
  text-align: left;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 25px;
  letter-spacing: 2px;
}
.music::before {
  content: "Music";
  width: 100%;
  height: 120%;
  position: absolute;
  border-radius: 20px 0px 0px 20px;
  border-left: 2px solid #4b4b4b;
  background: linear-gradient(99deg, rgba(141, 139, 114, 0.2) 0%, rgba(141, 139, 114, 0) 42.46%);
  color: var(--white);
  left: -140px;
  top: -40px;
  text-align: left;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 25px;
  letter-spacing: 2px;
}
.sports::before {
  content: "Sports";
  width: 100%;
  height: 120%;
  position: absolute;
  border-radius: 20px 0px 0px 20px;
  border-left: 2px solid #4b4b4b;
  background: linear-gradient(99deg, rgba(141, 139, 114, 0.2) 0%, rgba(141, 139, 114, 0) 42.46%);
  color: var(--white);
  left: -140px;
  top: -40px;
  text-align: left;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 25px;
  letter-spacing: 2px;
}

.movie-view {
  position: relative;
  width: 500px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--gray-background);
  margin: 0 auto;
}
/* .movie-view::after,
 .movie-view::before {
  content: "";
  background-color: var(--background-color);
  width: 315px;
  height: 790px;
  position: absolute;
  border-radius: 11px;
  top: 0;
 } */

.movie-view::before {
  left: 0;
}

.movie-view::after {
  right: 0;
}

.video-player {
  height: 100%;
  width: 100%;
}

.trailer-image {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.video-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: var(--background-color);
  font-size: 13px;
  padding: 30px 10px;
  height: 100%;
  gap: 40px;
  & h2 {
    font-size: 14px;
    font-weight: 600;
  }
  & .description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-left: 125px;
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title img {
  width: 40px;
}

.modal-image {
  position: absolute;
  width: 120px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 45px);
  left: 5px;
}

.modal-image img {
  width: 100px;
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-navigation {
  border-radius: 25px;
  border: 1px solid var(--YellowPrimary);
  background: var(--background-color);
  padding: 10px 20px;
  color: var(--YellowPrimary);
  font-size: 18px;
  font-weight: 700;
}

.btn-watch {
  background: var(--YellowPrimary);
  color: var(--background-color);
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 800;
  padding: 10px 40px;
}

.close-btn {
  position: absolute;
  right: -23px;
  top: -23px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.close-btn:hover {
  transform: scale(1.1);
}

.modal-body {
  padding: 0;
}
