:root {
  --blue-primary: #00a7e5;
  --background-color: #0D0D0D;
  --gray-background: #181818;
  --YellowPrimary: #FFCD1D;
  --PurplePrimary: #943b99;
  --GreenPrimary: #009d00;
  --white:  #F4F4F4;
  --MdGray: #3878787;

}


/* General */

body,
html {
  background-color: var(--background-color);
  color: var(--white);
  height: 100%;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

main {
  padding: 0 ;
}

*,*::before,*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

.nav-link {
  color: var(--white);
}

.ml-auto {margin-left: auto;}

.btn-primary {
  font-size: 18px;
  background: var(--YellowPrimary);
  padding: 12px 30px;
  text-transform: uppercase;
  transition: .2s;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  width: fit-content;
  color: var(--background-color);
  margin: 0;

  &:hover {
    transform: scale(1.1);
  }

  &.xs {
    padding: 4px 15px;
    font-size: 15px;
  }
}

a {
  color: var(--YellowPrimary); 
  font-weight: 500;
  transition: .2s;
  text-decoration: none;

  &:hover, &:focus{ color: var(--white);}

  &.xl{
    font-size:18px;
  }
}


/* Header */

header {
  padding: 20px 30px;
  position: relative;
  z-index: 3;
  position: relative;

  .navbar {
    padding: 0;
  }

  #language-select {
    border: none;
    background: transparent;
    color: var(--YellowPrimary) !important;
    font-weight: 700;
    margin-left: 20px;
  }
}

.subscription-banner {
  border: 1px solid var(--white);
  border-radius: 35px;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;

  span {font-size: 14px; font-weight: 700; padding: 0 15px;}
}

.dropdown {
  .btn {
    padding: 0;
    background: transparent;
    border: none;

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    border: 2px solid #77777763;
    background: rgba(39, 39, 39, 0.75);
    box-shadow: inset 0 0 50px #000000; 
    backdrop-filter: blur(10px);

    &.dropdown-menu-right {
      left: inherit; 
      right: 0;

      .user-area {
        min-width: 240px;
        gap: 15px;
        padding: 15px 20px;

        div {
          span {
            color: var(--MdGray);
            font-size: 22px;
            font-weight: 600;
          }

          a {
            font-size: 14px;
          }
        }
      }

      hr {border-color: #77777763;}

      li {
        a, button {
          padding: 8px 20px 8px 95px;
          color: var(--YellowPrimary);
          font-weight: 600;
          transition: .2s ease-out;

          &:hover {
            color: var(--white);
            img {
              transition: .2s ease-out;
              transform: scale(1.15);
              filter: brightness(10);
            }
          }
        }
      }
    }
  } 
}




/* Hero */

.hero {
  background-image: radial-gradient(circle, #010916, #07161b, #111f1f, #1e2722, #2c2e27);
  position: relative;
  z-index: 0;
  margin-top: -90px;
}

.main-title {
  padding-bottom: 10px;
  margin-top: -70px;
  position: relative;
  z-index: 1;

  h1 {
    font-weight: 700;
    font-size: 30px;

    & span {
      color: var(--YellowPrimary);
    }
  }
}

.icons {
  gap: 30px;
    a {
     transition: .2s ease-out;
     display: flex;
     flex-direction: column;
     text-decoration: none;

     img {transition: .2s ease-out;}

     p {color: var(--YellowPrimary); font-weight: 600; margin-top: 5px;}

    &:hover {
      transform: scale(1.2);

      img {filter: contrast(1.25) brightness(2) grayscale(1);}
      p {color: var(--white);}
    }
  }
} 

.hero-slider {
  position: relative;

  &::before {
    content: '';
    background: url(../images/group-shadow.svg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 999;
  }
} 

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
}

.videos-slider {
  .swiper-slide {
    max-width: 240px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: fit-content;
}

.swiper.videos-slider {
  height: 400px;
}



/* Content */

.card {
  height: 100%;
  border: none;
  border-radius: 10px;
  background: var(--background-color);
  & .card-image {
    background-image: url(../images/card1.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20vh;
    border-radius: 10px 10px 0 0;
  }

  & .card-description {
    background: var(--background-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    gap: 5px;
    box-sizing: border-box;
    & img {
      width: 65px;
    }
    & h2 {
      font-size: 16px;
      font-weight: 600;
    }

    & p {
      font-size: 14px;
    }
  }
}

section {
  margin: 120px 0 180px;
}

.container {
  width: 80%;
  &.wide-right {
    margin-right: 0;
    width: 90%;
    max-width: none;
  }
}

.movies,
.series,
.sports,
.music {
  position: relative;

  &::before {
    width: 100%;
    height:100%;
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    border-left: 2px solid #4B4B4B;
    background: linear-gradient(99deg, rgba(141, 139, 114, 0.15) 0%, rgba(141, 139, 114, 0.00) 40%);
    color: var(--white);
    left: -140px;
    top: 40px;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px;
  }
}

.movies::before { content: "Movies";}

.series::before {content: "Series";}

.music::before {content: "Music";}

.sports::before {content: "Sports";}



/* modal */

.modal {
  background: #000000c5;
  backdrop-filter: blur(10px);

  .modal-dialog {

    .modal-content {
      background-color: rgba(56, 56, 56, 0.7);
      box-shadow: inset 0 0 50px 30px black;
      padding: 50px 30px;
      border-radius: 15px;
      border: 2px solid #222;
      position: relative;

      .modal-header {
        .btn-close {
          color: var(--YellowPrimary);
          font-weight: 24px;
        }
      }
    }
  }
}





/* Pages */

.title-bar {
  height: 150px;
  background: #151515;
  position: relative;

  h1 {
    color: var(--white);
    font-size: 21px;
    font-weight: 700;
    margin: auto;
  }

  .breadcrumb {
    margin: 15px 0 0 30px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.text-content {
  text-align: left;

  h2 {
    font-size: 18px; 
    font-weight: 600;
    margin: 40px 0 10px;
    text-align: left;
  }

  p {
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    
    li {
      text-align: left;
      margin-bottom: 15px;
    }
  }

  h3 {
    font-size: 16px; 
    font-weight: 600;
    margin: 30px 0 5px;
    text-align: left;
  }
}




/* Footer */

footer {
  margin: 0 auto 80px;

  > .d-flex {
    gap: 25px;

    ul {
      margin: 0;
      list-style: none;
      gap: 15px;
      padding: 0;
    }
  }
}
